{{> appbar}}
<div id="individualProductContainer">
  <div class="individualProductCard">
    <div class="individualProductImageContainer"></div>

    <div class="individualProductTextContainer">
      <div class="profileText">
        <div>Producto: </div>
        <div>{{product.title}}</div>
      </div>
      <div class="profileText">
        <div>Precio:</div>
        <div>$ {{product.price}}</div>
      </div>
      <div class="profileText">
        <div>Categoria: </div>
        <div>{{product.category}}</div>
      </div>
      <div class="profileText">
        <div>Stock disponible: </div>
        <div>{{product.stock}}</div>
      </div>
        <br>
      <div class="desc">{{product.description}}</div>
      <br>
    </div>
    <div class="quantityContainer fixMargin2">
      <button id="decreaseButton" class="arrowButton"><</button>
      <div id="counter" class="quantityCounter">1</div>
      <button id="increaseButton" class="arrowButton">></button>
    </div>
    <button id="addButton" class="button"> ADD TO CART </button>
  </div>
</div>

<script>
  let product = {{{jsonStringify product}}};
  let user = {{{jsonStringify user}}};
</script>
<script src="js/product.js"></script>